<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    ##RedirectMatch 302 ^/ http://redir_aqui
    ##RewriteRule ^img/.*\.jpg$ /img/alert.png [L]
</IfModule>
AddDefaultCharset utf-8
##php_value zlib.output_compression 16386

#Bloquear IP
order allow,deny

##ErrorDocument 403 http://www.google.co.ve/#hl=es&source=hp&q=capullo&btnG=Buscar+con+Google&meta=&aq=f&oq=capullo&fp=62a52314761b4acf
ErrorDocument 403 /error403.html