@charset "UTF8";

body,
html {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    background-color: #39a;
    overflow-y: hidden;
}

#top_gobernacion {
    position: absolute;
    z-index: 6;
    width: 100%;
}

.text_gob {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999999;
}

.text_gob_b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.div_fondo_modulos {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.iconos_modulos_version3 {
    z-index: 2;
    background-image: url(/img/fondo_modulos.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 274px;
    margin-top: -137px; /*200px/2*/
    width: 662px;
    margin-left: -331px; /*300px/2 */
    padding-left: 0px;
    padding-right: 35px;
    padding-top: 60px;
    text-align: center;
}

#descripcion_modulo {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #4f76a3;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

.a_icon_modulo {
    text-align: center;
    height: 56px;
    width: 56px;
    -moz-opacity: 1;
    opacity: 1;
}

.a_icon_modulo:hover {
    height: 56px;
    width: 56px;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.img_icon_mod {
    height: 55px;
    width: 55px;
    margin-left: 5px;
}

.img_icon_mod:hover {
    height: 54px;
    width: 54px;
}

.fondo_index_modulos {
    background-attachment: fixed;
    overflow: hidden;
    margin: 0 0 0 0;
}

#error {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffff00;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}

.ingresarText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
}

.input_user {
    background: #ffffff url(/img/input_user.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 2px solid #7f9db9;
    color: #990000;
    height: 20px;
    width: 145px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.input_pass {
    background: #ffffff url(/img/input_pass.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 2px solid #7f9db9;
    color: #990000;
    height: 20px;
    width: 145px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 8pt;
}

input,
textarea,
select {
    text-transform: uppercase;
    margin-top: 1px;
}

.icon_link_mod_CGPP00 {
    background-image: url(/img/modulos/gif/cgpp00.gif);
}

.icon_link_mod_CIPP00 {
    background-image: url(/img/modulos/gif/cipp00.gif);
}

.icon_link_mod_CNP000 {
    background-image: url(/img/modulos/gif/cnp000.gif);
}

.icon_link_mod_CSTP00 {
    background-image: url(/img/modulos/gif/cstp00.gif);
}

.icon_link_mod_CEPP00 {
    background-image: url(/img/modulos/gif/cepp00.gif);
}

.icon_link_mod_CEP000 {
    background-image: url(/img/modulos/gif/cep000.gif);
}

.icon_link_mod_COBP00 {
    background-image: url(/img/modulos/gif/cobp00.gif);
}

.icon_link_mod_CSCP00 {
    background-image: url(/img/modulos/gif/cscp00.gif);
}

.icon_link_mod_CSRP00 {
    background-image: url(/img/modulos/gif/csrp00.gif);
}

.icon_link_mod_CSIP00 {
    background-image: url(/img/modulos/gif/csip00.gif);
}

.icon_link_mod_CFP000 {
    background-image: url(/img/modulos/gif/cfp000.gif);
}

.icon_link_mod_CFPP00 {
    background-image: url(/img/modulos/gif/cfpp00.gif);
}

.icon_link_mod_CUGP00 {
    background-image: url(/img/modulos/gif/cugp00.gif);
}

.icon_link_mod_CAP000 {
    background-image: url(/img/modulos/gif/cap000.gif);
}

.icon_link_mod_CATP00 {
    background-image: url(/img/modulos/gif/catp00.gif);
}

.icon_link_mod_CATSP0 {
    background-image: url(/img/modulos/gif/catsp0.gif);
}

.icon_link_mod_CMCP00 {
    background-image: url(/img/modulos/gif/cmcp00.gif);
}

.icon_link_mod_CONP00 {
    background-image: url(/img/modulos/gif/conp00.gif);
}

.icon_link_mod_SHPP00 {
    background-image: url(/img/modulos/gif/shpp00.gif);
}

.icon_link_mod_CCNP00 {
    background-image: url(/img/modulos/gif/ccnp00.gif);
}

.icon_link_mod_CANP00 {
    background-image: url(/img/modulos/gif/canp00.gif);
}

.icon_link_mod_SALIR {
    background-image: url(/img/modulos/gif/salir.gif);
}

.icon_link_mod_CRCP00 {
    background-image: url(/img/modulos/gif/crcp00.gif);
}
