@charset "utf-8";

.text_gob {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999999;
}

.text_gob_b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

#msj_cancelar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #cc0000;
    background-color: #fffbec;
    text-align: left;
    white-space: normal;
    height: 18px;
    width: auto;
    border: 1px dashed #cc0000;
    /*padding-top: 4px;

			margin-left: 4px;*/
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 1px 5px;
}

#msj_aceptar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #339933;
    background-color: #fffbec;
    text-align: left;
    white-space: normal;
    height: 18px;
    width: auto;
    border: 1px dashed #339966;
    /*padding-top: 4px;

			margin-left: 4px;*/
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 1px 5px;
}

#scroll_a {
    width: 100%;
    background-color: #fff;
    height: 100px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
}

#scroll_b {
    width: 100%;
    height: 170px;
    background-color: #fff;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 18px;
}

#error {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffff00;
    font-size: 14px;
    font-weight: bold;
    padding: 5 5 5 5;
    margin: 0 0 0 0;
}

.ingresarText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
}

td {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 11px;
}

.fondo {
    background-image: url(/sisap/img/fondo-sigep.jpg);
    width: 788;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

h1 {
    width: 98%;
    color: #0000ff;
    background-color: #ffffff;
    font-family: Times New Roman;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: 0px;
    padding: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: #97ccff;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #97ccff;
    border-right-style: solid;
    border-right-width: 18px;
    border-right-color: #97ccff;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #97ccff;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #97ccff;
}

strong {
    text-indent: 0px;
    color: #1a1a1a;
    font-style: italic;
    font-size: 25px;
}

#margenes {
    border: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#fondo {
    background-color: #fff;
    background-position: right top;
    border-bottom: 4px solid #c64934;
    background: url(../imagenes/logo_fondo.png);
}

#logo {
    position: relative;
    width: 100%;
    background: url(../imagenes/logo_version.png) no-repeat;
    background-position: bottom right;
    margin: 0px;
    padding: 0px;
}

#wrapper1 div {
    border: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px 0px 5px;
    display: inline;
}

body {
    background-image: url(/sisap/img/fondo-sigep.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    text-indent: 5px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 0px;
    background-color: #396c9b;
}

#boton1,
boton2,
boton3,
boton4 {
    text-align: center;
    width: 200px;
}

.bg_tabla {
    background-image: url(/sisap/img/bg_tabla32.png);
    background-attachment: fixed;
    background-position: center 50%;
    background-repeat: repeat-y;
    margin: 0 0 0 0;
}

p {
    background-color: #ffffff;
    color: #0000ff;
    font-style: italic;
    font-size: 15px;
}

em,
legend {
    text-indent: 0px;
    color: #1a1a1a;
    font-style: italic;
    font-size: 20px;
}

.blur {
    background-color: #ccc; /*shadow color*/
    color: inherit;
    margin-left: 4px;
    margin-top: 4px;
    width: 788px;
}

.shadow,
.content {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.shadow {
    background-color: #666; /*shadow color*/
    color: inherit;
}

.content {
    background-color: #fff; /*background color of content*/
    color: #000; /*text color of content*/
    border: 1px solid #000; /*border color*/
    padding: 0.5em 2ex;
}

.content IMG {
    border: 1px solid #000000;
}

.login {
    background-image: url(/sisap/img/centro-sisap-f-png32.png);
}

.tabla {
    /*width: 100%;*/
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    clear: both;
    padding: 0;
    margin: 0 0 2em 0;
    white-space: normal;
}

th {
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #003d4c;
    border-bottom: 1px solid #003d4c;
    text-align: center;
    padding: 1px 4px;
}

.tdtitulo {
    background-color: #e2e2e2;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #003d4c;
    border-bottom: 1px solid #003d4c;
    text-align: center;
    padding: 1px 4px;
}

tabla tr td {
    border-right: 1px solid #ddd;
    padding: 4px 4px;
    vertical-align: top;
    text-align: center;
}

tabla tr.altRow td {
    background: #f4f4f4;
}

tabla td.actions {
    white-space: nowrap;
}

.salida {
    color: #000;
    border-color: #ffffff;
}

a {
    color: #003333;
    text-decoration: none;
}

a:hover {
    color: #c64934;
    text-decoration: underline;
}

a:active {
    color: #333333;
    text-decoration: underline;
}

table#toolbar a.toolbar {
    color: #000033;
    text-decoration: none;
    display: block;
    border: 1px solid #ddd;
    width: 55px;
    padding: 2px 1px 2px 1px;
}

table#toolbar a.toolbar:hover {
    color: #c64934;
    border: 1px solid #c24733;
    background-color: #f1e8e6;
    padding: 3px 0px 1px 2px;
}

table#toolbar a.toolbar:active {
    color: #ff9900;
}

.pagenav {
    font-size: 10px;
}

a.pagenav {
    color: #000033;
    font-size: 10px;
    text-decoration: underline;
}

a.pagenav:hover {
    color: #fff;
    font-size: 10px;
}

a.pagenav:active {
    color: #333;
    font-size: 10px;
}

.sectionname {
    color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.button {
    border-top: solid 1px #d5d5d5;
    border-right: solid 1px #808080;
    border-bottom: solid 1px #808080;
    border-left: solid 1px #d5d5d5;
    color: #333;
    font-weight: bold;
}

.inputbox {
    z-index: -3;
    font-size: 11px;
}

.text_area {
    border: 1px solid ccc;
    z-index: -3;
    font-size: 11px;
}

TEXTAREA,
SELECT {
    z-index: -3;
    font-size: 11px;
}

.small {
    color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
}

.smallgrey {
    color: #999;
    font-size: 10px;
}

.error {
    color: #c40000;
    font-size: 11px;
    font-weight: bold;
}

.contentheading,
.componentheading,
.moduleheading {
    font-size: 14px;
    font-weight: bold;
}

table.menubar {
    width: 100%;
}

td {
    font-size: 11px;
}

/* header block */
table.adminheading {
    background-color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    border-collapse: collapse;
    color: #000033;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

table.adminheading th {
    text-align: left;
    height: 50px;
    width: 99%;
    border-bottom: 5px solid #fff;
}

.reloj {
    font-size: 18px;
    font-weight: bold;
    color: #000033;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: right;
}

table.adminheading td {
    color: #000;
}

table.adminlist {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
}

table.adminlist th {
    margin: 0px;
    padding: 6px 4px 2px 4px;
    height: 25px;
    background: url(../imagenes/background.jpg);
    background-repeat: repeat;
    font-size: 11px;
    color: #000;
}

table.adminlist th.title {
    text-align: left;
}

table.adminlist th a:link,
table.adminlist th a:visited {
    color: #000033;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

table.adminlist th a:hover {
    color: #c64934;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

table.adminlist tr.row0 {
    background-color: #f9f9f9;
}

table.adminlist tr.row1 {
    background-color: #fff;
}

table.adminlist td {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
}

table.adminlist tr.row0:hover {
    background-color: #f1f1f1;
}

table.adminlist tr.row1:hover {
    background-color: #f1f1f1;
}

table.adminlist td.options {
    background-color: #ffffff;
    font-size: 8px;
}

select.options,
input.options {
    font-size: 8px;
    font-weight: normal;
    border: 1px solid #999999;
}

table.adminform {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

table.adminform tr.row0 {
    background-color: #f9f9f9;
}

table.adminform tr.row1 {
    background-color: #eeeeee;
}

table.adminform th {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    height: 25px;
    background: url(../imagenes/background.jpg);
    color: #000;
    background-repeat: repeat;
}

table.adminform td {
    padding: 3px;
    text-align: left;
}

table.adminform td.editor {
    font-size: 9px;
}

table.adminform2 {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 45%;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: 25px;
}

table.adminform2 tr.row0 {
    background-color: #f9f9f9;
}

table.adminform2 tr.row1 {
    background-color: #eeeeee;
}

table.adminform2 th {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    height: 25px;
    background: url(../imagenes/background.jpg);
    color: #000;
    background-repeat: repeat;
}

table.adminform2 td {
    padding: 3px;
    text-align: left;
}

table.adminform2 td.editor {
    font-size: 9px;
}

table.cpanel td {
    text-align: center;
}

form {
    margin: 0px 0px 0px 0px;
}

/* Styles for dhtml tabbed-pages */
.ontab {
    font-size: 12px;
    background-color: #ffae00;
    border: 1px solid #cccccc;
    width: 14%;
    text-align: center;
    cursor: hand;
    font-weight: bold;
    color: #ffffff;
}

.offtab {
    font-size: 12px;
    background-color: #e5e5e5;
    border: 1px solid #cccccc;
    width: 14%;
    text-align: center;
    cursor: hand;
    font-weight: normal;
}

.tabpadding {
    /*border-bottom: solid 1px #D5D5D5;*/
}

.tabheading {
    background-color: #ffae00;
    color: #fff;
    font-size: 10px;
    text-align: left;
}

.pagetext {
    visibility: hidden;
    display: none;
    position: relative;
    top: 0;
}

.menubackgr {
    background: #e8e8e8;
    border-bottom: 1px solid #cccccc;
}

.menudottedline {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    background-color: #f1f3f5;
}

.pathway {
    margin-left: 15px;
}

.adminheader {
    color: #c30;
    font-size: 24px;
}

/* Text passed with mosmsg url parameter */
.message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #c30;
    text-align: center;
}

div.centermain {
    padding: 0 10px;
}

div.main {
    width: 99%;
    padding: 0;
}

.quote {
    margin: 4px;
    border: 1px solid #cccccc;
    background-color: #e9ecef;
    padding: 10px;
    font-size: 12px;
    color: #254d78;
}

/* mod_quickicon */
#cpanel {
    text-align: center;
    vertical-align: middle;
}

#cpanel div.icon {
    margin: 3px;
    text-align: center;
}

#cpanel div.icon a {
    display: block;
    float: left;
    height: 97px !important;
    height: 100px;
    width: 108px !important;
    width: 110px;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link {
    color: #000033;
}

#cpanel div.icon a:hover {
    color: #333;
    background-color: #f1e8e6;
    border: 1px solid #c24733;
    padding: 3px 4px 0px 6px;
}

#cpanel div.icon a:active {
    color: #000033;
}

#cpanel div.icon a:visited {
    color: #000033;
}

#cpanel div.icon img {
    list-style-image: inherit;
    margin-top: 13px;
}

#cpanel div.icon span {
    display: block;
    padding-top: 3px;
    text-align: center;
}

/* Tooltips */
a.tooltip,
a.tooltip:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

a.tooltiplink {
    display: block;
    width: 100%;
}

a.tooltiplink:hover {
    text-decoration: none;
}

/* Fieldsets */
fieldset {
    margin-bottom: 10px;
    border: 1px #ccc solid;
    padding: 5px;
    text-align: left;
}

fieldset p {
    margin: 10px 0px;
}

legend {
    color: #c24733;
    font-size: 1.1em;
    font-weight: bold;
}

/* Two Pane Formatting */
#treecell {
    width: 20%;
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}

.expander {
    float: right;
}

#datacell {
    width: 78%;
    display: block;
    float: left;
    margin: 0;
    padding: 2px 0px 0px 0px;
}

#datacellfull {
    width: 98%;
    display: block;
    float: left;
    margin: 0;
    padding: 2px;
}

#treecell fieldset {
}

#datacell fieldset {
    border: 1px #ccc solid;
}

span.editlinktip {
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

table.paramlist td {
    height: 30px;
}

.boton_agenda {
    text-align: center;
    border-right: #1c5425 1px solid;
    border-top: #1c5425 1px solid;
    font-weight: bold;
    font-size: 11px;
    background: url(../imagenes/button.gif) #a4e1ae repeat-x 0px 0px;
    border-left: #1c5425 1px solid;
    width: 80px;
    color: #ffffff;
    border-bottom: #1c5425 1px solid;
    height: 20px;
}

.tabla {
    margin-top: 8%;
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
}
