h1 {
	width: 98%;
	color: #0000FF;
	background-color: #ffffff;
	font-family: Times New Roman;
	font-size: 25px;
	font-style: normal;
	font-weigth: bold;
	text-align: center; text-decoration ,underline; text-transform
	,capitalize;
	letter-spacing: 0px;
	word-spacing: 0px;
	padding: 1px;
	border-width: 10px;
	border-style: solid;
	border-color: #97ccff;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #97ccff;
	border-rigth-style: solid;
	border-rigth-width: 18px;
	border-right-color: #97ccff;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #97ccff;
	border-botton-width: 5px;
	border-botton-style: solid;
	border-botton-color: #97ccff;
}

body {
	text-indent: 5px;
	margin: 20px;
	color: #ffffff;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	font-align: center;
	word-spacing: 0px;
	letter-spacing: 0px;
	background-color: #8ebeec;
}

p {
	background-color: #ffffff;
	color: #0000ff;
	font-style: italic;
	font-size: 15px;
}

em,legend {
	ext-indent: 0px;
	color: #1a1a1a;
	font-style: italic;
	font-size: 20px;
}

strong {
	ext-indent: 0px;
	color: #1a1a1a;
	font-style: italic;
	font-size: 25px;
}

#titulo {
	text-align: center;
}

#boton1,boton2,boton3,boton4 {
	text-align: center;
	width: 200px;
}