.modal {
	background-color: red;
	padding: 10px;
	border: 1px solid #333;
}

#control_overlay {
	background-color: #000;
}

.container_grafica {
	width: 80%;
	height: 85%;
	border: 1px solid #000;
	background-color: #fff;
	padding: 10px;
	text-align: left;
	font-family: "Lucida Grande", Verdana;
	font-size: 12px;
	color: #333;
	opacity: 0.3;
}

.generar_input_grafica {
	background-image: url(../img/iconos_nav/gif/pdf_1.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 35px;
	width: 35px;
	bottom: 2px;
	padding-top: 5px;
	margin-top: 0px;
}

.salir_input_grafica {
	background-image: url(../img/iconos_nav/gif/exit.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 35px;
	width: 35px;
	bottom: 2px;
	padding-top: -5px;
	margin-top: 0px;
}

.siguiente_button_ventana_grafica {
	background-image: url(../img/iconos_nav/gif/siguiente.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: top;
	height: 35px;
	width: 35px;
	padding-top: 0px;
	margin-top: 0px;
}

.anterior_button_ventana_grafica {
	background-image: url(../img/iconos_nav/gif/anterior.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: top;
	height: 35px;
	width: 35px;
	padding-top: 0px;
	margin-top: 0px;
}

.siguiente_button_ventana_grafica_disabled {
	background-image: url(../img/iconos_nav_disabled/gif/siguiente.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: top;
	height: 35px;
	width: 35px;
	padding-top: 0px;
	margin-top: 0px;
}

.anterior_button_ventana_grafica_disabled {
	background-image: url(../img/iconos_nav_disabled/gif/anterior.gif);
	background-repeat: no-repeat;
	background-position: top;
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: top;
	height: 35px;
	width: 35px;
	padding-top: 0px;
	margin-top: 0px;
}