@charset "UTF8";
body,
html {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    overflow-y: hidden;
    background: #5388b9 url(/img/bg_index.jpg) no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

/*body,html {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	background-color: #39a;
	overflow-y: hidden;
	background: #5388B9 url(/img/bg_index.png) repeat-x;
}*/

#top_gobernacion {
    position: absolute;
    z-index: 6;
    width: 100%;
}

.text_gob {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999999;
}

.text_gob_b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.div_fondo_modulos {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.entrada_index_login {
    z-index: 1000;
    position: relative;
    left: -3%;
    top: 40%;
    padding-left: 0;
    padding-right: 5%;
    text-align: center;
}

.iconos_modulos_version3 {
    z-index: 2;
    background-image: url(/img/fondo_modulos.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 274px;
    margin-top: -137px;
    /*200px/2*/
    width: 662px;
    margin-left: -331px;
    /*300px/2 */
    padding-left: 0px;
    padding-right: 35px;
    padding-top: 60px;
    text-align: center;
}

#descripcion_modulo {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #4f76a3;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

.footer_sisap {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    /*background-color:#FFF;*/
    font-family: "trebuchet MS", sans-serif;
    color: #000;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
}

.a_icon_modulo {
    text-align: center;
    height: 56px;
    width: 56px;
    -moz-opacity: 1;
    opacity: 1;
}

.a_icon_modulo:hover {
    height: 56px;
    width: 56px;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.img_icon_mod {
    height: 55px;
    width: 55px;
    margin-left: 5px;
}

.img_icon_mod:hover {
    height: 54px;
    width: 54px;
}

.fondo_index_modulos {
    background-attachment: fixed;
    overflow: hidden;
    margin: 0 0 0 0;
}

#error {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}

.ingresarText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
}

.input_user {
    background: #ffffff url(/img/input_user.png) no-repeat scroll center left;
    padding: 2px 1px 0px 23px;
    border: 1px solid #009770;
    /* some kind of blue border */
    /* other CSS styles */
    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #009770;
    -moz-box-shadow: 0px 0px 4px #009770;
    box-shadow: 0px 0px 4px #009770;
    /* some variation of blue for the shadow */
    color: #686664;
    height: 20px;
    width: 140px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 9pt;
}

.input_pass {
    background: #ffffff url(/img/input_pass.png) no-repeat scroll center left;
    padding: 2px 1px 0px 23px;
    border: 1px solid #009770;
    /* some kind of blue border */
    /* other CSS styles */
    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #009770;
    -moz-box-shadow: 0px 0px 4px #009770;
    box-shadow: 0px 0px 4px #009770;
    /* some variation of blue for the shadow */
    color: #686664;
    height: 20px;
    width: 140px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 9pt;
}

input,
textarea,
select {
    text-transform: uppercase;
    margin-top: 1px;
}

/**/

.icon_link_mod_CUGP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: 0px 0px;
}

.icon_link_mod_CFP000 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -54px 0px;
}

.icon_link_mod_CSIP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -108px 0px;
}

.icon_link_mod_CSRP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -162px 0px;
}

.icon_link_mod_CSCP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -216px 0px;
}

.icon_link_mod_COBP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -270px 0px;
}

.icon_link_mod_CEP000 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -324px 0px;
}

.icon_link_mod_CEPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -378px 0px;
}

.icon_link_mod_CSTP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -432px 0px;
}

.icon_link_mod_CNP000 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -486px 0px;
}

.icon_link_mod_CIPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: 0px -54px;
}

.icon_link_mod_CFPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -54px -54px;
}

.icon_link_mod_CGPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -108px -54px;
}

.icon_link_mod_CAP000 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -162px -54px;
}

.icon_link_mod_CATSP0 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -216px -54px;
}

.icon_link_mod_CMCP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -270px -54px;
}

.icon_link_mod_CONP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -324px -54px;
}

.icon_link_mod_CIAP01 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -378px -54px;
}

.icon_link_mod_CAO000 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -432px -54px;
}

.icon_link_mod_CCNP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -486px -54px;
}

.icon_link_mod_CODVI0 {
    background: url(/img/modulos/gif/codvi0.gif) no-repeat;
}

.icon_link_mod_CSPP00 {
    background: url(/img/modulos/gif/cspp00.gif) no-repeat;
}

.icon_link_mod_CATP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: 0px -108px;
}

.icon_link_mod_SHPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -54px -108px;
}

.icon_link_mod_CPPP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -108px -108px;
}

.icon_link_mod_CRCP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -162px -108px;
}

.icon_link_mod_CANP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -216px -108px;
}

.icon_link_mod_INFO {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -270px -108px;
}

.icon_link_mod_CPOP00 {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -324px -108px;
}

.icon_link_mod_CONTROL {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -380px -108px;
}

.icon_link_mod_SALIR {
    background: url(/img/sprite/modulos.gif) no-repeat;
    background-position: -486px -108px;
}

.icon_link_mod_CDIP00 {
    background: url(/img/modulos/gif/cdip00.gif) no-repeat;
}

/**/
