@charset "UTF8";

.textNegro {
    color: #000;
    font-size: 10pt;
    font-family: Verdana, tahoma;
    text-transform: uppercase;
}

.text_gob {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999999;
}

.text_gob_b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.titulo_top_sup {
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15pt;
    color: #144580 /*#f5f5f5*/;
    padding-left: 10px;
    font-weight: bold;
}

.izq {
    text-align: left;
}

.titulo_top_inf {
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15pt;
    color: #144580 /*#f5f5f5*/;
    padding-left: 56px;
    font-weight: bold;
}

.nom_usuario {
    font-size: 10pt;
    color: #ffff00;
}

#top {
    position: fixed;
    height: 100px;
    top: -2px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 5000;
}

.ocultar_menu {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 220px;
    bottom: 0px;
    z-index: 5000;
    -moz-opacity: 0.1;
    opacity: 0.1;
    background-color: #ba2d2d;
}

.top_izq_1 {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 229px;
    height: 72px;
    background-image: url(/img/infogobierno/escudo_venezuela.png);
    background-repeat: no-repeat;
    z-index: 5;
}

.top_izq_2 {
    /*
	position: absolute;
	top: 0px;
	left: 60px;
	width: 229px;
	height: 72px;
	background-image: url(/img/log_sigep_v1_2.png);
	background-repeat: no-repeat;
	z-index: 5;
*/
}

.top_centro_2 {
    position: absolute;
    top: 8px;
    left: 100px;
    right: 50px;
    height: 64px;
    z-index: 2;
}

.top_der_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 72px;
    background-image: url(/img/infogobierno/bg_top4.gif);
    background-repeat: repeat-x;
    z-index: 0;
    text-align: right;
    padding-top: 0px;
    padding-right: 4px;
}

.top_der_usuario {
    position: absolute;
    top: 30px;
    width: 45%;
    right: 0px;
    height: 35px;
    background: url(/img/usuario.png) no-repeat scroll center right;
    z-index: 1;
    text-align: right;
    padding-top: 2px;
    padding-right: 28px;
    color: #fff;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
}

.input_1 {
    font-family: "trebuchet MS", sans-serif;
    color: #034c66;
    font-size: 12px;
    font-weight: bold;
    border: 1px #034c66 solid;
}

.input_2 {
    font-family: "trebuchet MS", sans-serif;
    color: #034c66;
    font-size: 12px;
    font-weight: bold;
    border: 1px #034c66 solid;
    text-transform: uppercase;
}

#mini_loading {
    position: fixed;
    bottom: 37px;
    right: 2px;
    width: 85px;
    z-index: 2000;
}

.fondo {
    background-image: url(/img/fieldset.gif);
    width: 788px;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.principal {
    z-index: 5;
    position: fixed;
    top: 107px;
    bottom: 36px;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}

.principal_v1 {
    z-index: 5;
    position: fixed;
    top: 70px;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}

body {
    margin: 0 0 0 0;
    color: #000;
    font-family: Tahoma;
    font-style: normal;
    overflow-y: hidden;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 0px;
    /*background-color:#D8E5EF;*/
    background-color: #fafafa; /*ECF2F7*/
}

.bg_tabla {
    background-image: url(../img/bg_tabla32.png);
    background-attachment: fixed;
    background-position: center 50%;
    background-repeat: repeat-y;
    margin: 0 0 0 0;
}

p {
    background-color: #ffffff;
    color: #0000ff;
    font-style: italic;
    font-size: 15px;
}

em,
legend {
    text-indent: 0px;
    color: #1a1a1a;
    font-style: italic;
    font-size: 20px;
}

strong {
    text-indent: 0px;
    color: #1a1a1a;
    font-style: italic;
    font-size: 25px;
}

#titulo {
    text-align: center;
}

.text_login {
    font-size: 10pt;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
}

.enlinea {
    text-align: center;
    font-size: 12pt;
    color: #144580; /*#CCC;*/
    font-family: Arial, Helvetica, sans-serif;
}

.textNegro2 {
    color: #000;
    font-size: 9pt;
    font-family: Verdana, tahoma;
    text-transform: uppercase;
}

.tablacompromiso td {
    border-top: 0px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 0px solid #003d4c;
    height: 27px;
    padding-left: 5px;
    padding-right: 5px;
    border-spacing: 0px;
    empty-cells: show;
    font-family: arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.tablacompromiso2 {
    border-top: 1px solid #000000;
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

.tablacompromiso3 {
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

.inputtext {
    width: 99%;
    padding-left: 2px;
    border: 0;
    border: 1px solid #7f9db9;
}

.inputtext80 {
    width: 85%;
    padding-left: 2px;
    border: 0;
    border: 1px solid #7f9db9;
}

.linksTooltip {
    border: 3px solid #933;
    background-color: #600;
    padding: 10px;
    color: #ccc;
}

.inputsTooltip {
    border: 1px solid #000;
    background-color: #444;
    padding: 4px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 150px;
}

.inputsTooltip #tooltipTitle {
    font-weight: bold;
}

/* Seccion que utiliza los mensajes*/
.tabla_msj {
    background-color: #800000;
    /*background-image:url(/img/centro_login.png);*/
}

.th_msj {
    background-color: #550000;
    /*background-image:url(/img/bgcabeceragrid.gif);*/
    color: #f1f1f1;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

.td_msj {
    color: #f1f1f1;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 12px;
}

.td_fecha {
    color: #f1f1f1;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 10px;
    height: 27px;
}

.simple_window {
    width: 250px;
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    text-align: left;
    font-family: "Lucida Grande", Verdana;
    font-size: 12px;
    color: #333;
}

#c_usuarios {
    position: fixed;
    margin: 0;
    padding: 1px 0;
    right: 120px;
    bottom: 37px;
    z-index: 1000;
    width: 150px;
    height: 100px;
    background-color: #800000;
    overflow-y: auto;
}

.a_msj {
    color: #f1f1f1;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

.a_msj:hover {
    color: #f1f1f1;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

#MenuAplicacion {
    margin-left: 10px;
}

label {
    color: #000;
    text-transform: lowercase;
}

label:first-letter {
    text-transform: capitalize;
}

.tr_negro {
    color: #fff;
    background-color: #000;
    font-size: 10pt;
}

.div_fecha {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    width: 100px;
}

.P_0 {
    padding: 0 0 0 0;
}

.link_paginacion {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #277884;
    color: #277884;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.link_paginacion:hover {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #841a08;
    background-color: #841a08;
    color: #ffffff;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.link_paginacion_activo {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #841a08;
    background-color: #841a08;
    color: #ffffff;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.tr_grid_c1 {
    background-color: #cdf2ff;
    color: #000;
    font-size: 9pt;
    font-family: Verdana, tahoma;
    text-transform: uppercase;
}

.tr_grid_c2 {
    background-color: #daebff;
    color: #000;
    font-size: 9pt;
    font-family: Verdana, tahoma;
    text-transform: uppercase;
}

input,
textarea,
select {
    text-transform: uppercase;
    margin-top: 1px;
}

label {
    text-transform: none;
    margin-top: 1px;
}

input:focus,
textarea:focus {
    background-color: #e9efff;
}

/******ESTILOS DE MENSAJES DE ERROR Y EXITO*******/
#bloque_mensajes {
    z-index: 6000;
    position: fixed;
    top: 70px;
    height: 27px;
    left: 220px;
    right: 15px;
    margin-top: 0px;
    padding: 0px;
}

.info,
.exito,
.alerta,
.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    white-space: normal;
    text-transform: uppercase;
    border: 1px solid;
    margin: 0px;
    padding: 7px 5px 7px 5px;
    background-repeat: no-repeat;
    background-position: 5px center;
    text-align: center;
}

.info {
    color: #00529b;
    background-color: #bde5f8;
    background-image: url(/img/infogobierno/info_msj.png);
}

.exito {
    color: #4f8a10;
    background-color: #dff2bf;
    background-image: url(/img/infogobierno/exito_msj.png);
}

.alerta {
    color: #9f6000;
    background-color: #feefb3;
    background-image: url(/img/infogobierno/alerta_msj.png);
}

.error {
    color: #d8000c;
    background-color: #ffbaba;
    background-image: url(/img/infogobierno/error_msj.png);
}

.contenido {
    text-align: center;
    padding-top: 30px;
}

div#marco {
    width: 800px;
    margin: 10px auto;
    text-align: center;
    border: 1px #000 solid;
}

div#marco h3 {
    width: 100%;
    background-color: #d8e5ef;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    border: 1px #000 solid;
}

.fieldset_marco {
    width: 850px;
    margin: 10px auto;
    text-align: center;
    border: 1px #356089 solid;
    background-color: #c5d8e7;
    padding-left: 20px;
    padding-right: 5px;
}

.titulo_marco {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14pt;
    border: 1px #356089 solid;
    padding-left: 10px;
    padding-right: 40px;
    background-color: #97b7d3;
    text-align: left;
}

.fila1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: uppercase;
    background-color: #f8fbfc;
}

.fila2 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: uppercase;
    background-color: #e5f1f4;
}

.fila_titulos {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #fff;
    white-space: normal;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #328aa4;
}

.tabla1 td {
    border-top: 0px solid #356089;
    border-bottom: 1px solid #356089;
    border-left: 1px solid #356089;
    border-right: 0px solid #003d4c;
    height: 20px;
    padding-left: 1px;
    padding-right: 0px;
    border-spacing: 0px;
    empty-cells: show;
    font-family: arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.tabla2 {
    border-top: 1px solid #356089;
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

.tabla3 {
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

option {
    width: 500px;
}

.input_user {
    margin-top: 2px;
    background: #ffffff url(/img/input_user.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 1px solid #7f9db9;
    color: #990000;
    height: 25px;
    width: 150px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.input_pass {
    margin-top: 3px;
    background: #ffffff url(/img/input_pass.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 1px solid #7f9db9;
    color: #990000;
    height: 25px;
    width: 150px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 8pt;
}

.input_fecha {
    background: #ffffff url(/img/calendar.gif) no-repeat scroll center right;
    padding: 1px 1px 0px 0px;
    border: 1px solid #7f9db9;
    height: 22px;
    width: 105px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
}

.input_lupa {
    background: #ffffff url(/img/iconos_nav/buscar18.png) no-repeat scroll center right;
    padding: 1px 1px 0px 0px;
    border: 1px solid #7f9db9;
    height: 22px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
}

.div_input_lupa {
    background: #ffffff url(/img/iconos_nav/buscar18.png) no-repeat scroll center right;
    padding: 1px 20px 0px 0px;
    border: 1px solid #7f9db9;
    height: 22px;
    text-align: left;
}

.input_sin_bordes {
    background: #ffffff;
    padding: 1px 1px 0px 0px;
    border: 0px;
    height: 22px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

input,
select {
    text-transform: uppercase;
    margin-top: 1px;
    border: 1px solid #7f9db9;
    height: 22px;
}

textarea {
    text-transform: uppercase;
    margin-top: 1px;
    border: 1px solid #7f9db9;
}

select {
    border: 1px solid #7f9db9;
    font-size: 10pt;
    color: #000000;
    text-align: left;
    padding-left: 1px;
    width: 99%;
}

option {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 10pt;
    width: 500px;
}
