ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*- Menu 10--------------------------- */
#menu10 {
	width: 200px;
	margin: 10px;
	font-size: 10pt;
}

#menu10 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
	font-size: 10pt;
}

#menu10 li a:link,#menu10 li a:visited {
	color: #144580;
	display: block;
	background: url(/img/infogobierno/menu/menu10.gif) 0 -32px;
	padding: 8px 0 0 10px;
	font-size: 10pt;
}

#menu10 li a:hover {
	background: url(/img/infogobierno/menu/menu10.gif) 0 -32px;
	padding: 8px 0 0 10px;
	font-size: 10pt;
}

#menu10Sub {
	width: 190px;
	margin-left: 10px;
	font-size: 10pt;
}

#menu10Sub li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
	font-size: 10pt;
}

#menu10Sub li a:link,#menu10Sub li a:visited {
	color: #990000;
	display: block;
	background: url(/img/infogobierno/menu/menu10_sub.gif) 0 -32px;
	padding: 8px 0 0 10px;
	font-size: 10pt;
}

#menu10Sub li a:hover {
	color: #990000;
	background: url(/img/infogobierno/menu/menu10_sub.gif);
	padding: 8px 0 0 10px;
	font-weight: bold;
	font-size: 8pt;
}

/*departamentos*/
.departamentos {
	width: 190px;
	margin-left: 10px;
}

.departamentos li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
}

.departamentos li a:link,.departamentos li a:visited {
	color: #000033;
	display: block;
	background: url(/img/infogobierno/menu/menu10_sub_depar.gif) 0 -32px;
	padding: 8px 0 0 10px;
}

.departamentos li a:hover {
	color: #144580;
	background: url(/img/infogobierno/menu/menu10_sub_depar.gif);
	padding: 8px 0 0 10px;
}

#menu10Sub_depar {
	width: 181px;
	margin-left: 5px;
}

#menu10Sub_depar li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
}

#menu10Sub_depar li a:link,#menu10Sub_depar li a:visited {
	color: #000033;
	display: block;
	background: url(/img/infogobierno/menu/menu10_sub_sub_depar.gif) 0 -32px
		;
	padding: 8px 0 0 10px;
}

#menu10Sub_depar li a:hover {
	color: #144580;
	background: url(/img/infogobierno/menu/menu10_sub_sub_depar.gif);
	padding: 8px 0 0 10px;
}

.lateral_izq2 {
	background-color: #BA2D2D;
	width: 180px;
	border-right: 2px #A7C1DA solid;
}

.lateral_izq {
	background-color: #C5D8E7;
	width: 180px;
	border-right: 2px #A7C1DA solid;
}