.link_paginacion_ventana_activo {
	color: #C64934;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

table.adminheading td {
	color: #000;
}

table.adminlist {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
	text-transform: uppercase;
}

table.adminlist th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background: url(../img/background.jpg);
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
}

table.adminlist th.title {
	text-align: left;
}

table.adminlist th a:link,table.adminlist th a:visited {
	color: #000033;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

table.adminlist th a:hover {
	color: #C64934;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

table.adminlist tr.row0 {
	background-color: #F6F3F3;
}

table.adminlist tr.row1 {
	background-color: #FFF;
}

table.adminlist td {
	border-bottom: 1px solid #e5e5e5;
	border-left: #e5e5e5 3px solid;
	border-right: #e5e5e5 3px solid;
	padding: 4px;
	padding-left: 4px;
}

table.adminlist tr.row0:hover {
	background-color: #f1f1f1;
}

table.adminlist tr.row1:hover {
	background-color: #f1f1f1;
}

table.adminlist td.options {
	background-color: #ffffff;
	font-size: 8px;
}