/*
NAVIGATION --------------------- */
#navtop {
	margin-top: 0 0 0 0;
	height: 32px;
	background: bottom repeat-x;
}

#navbottom {
	height: 32px;
	background: top repeat-x;
}

ul#nav {
	margin: 0;
	padding: 0;
	list-style: none;
	background: bottom repeat-y;
}

#nav li {
	display: block;
	float: left;
}

li#nav-registro,li#nav-mod_presup,li#nav-precomp,li#nav-consul,li#nav-report
	{
	border-right: 1px dashed #FFF;
	background: right 55% no-repeat;
}

#nav li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 1px 8px 1px 8px; /*sup derecho inf izquierdo*/
	border-left: 1px dashed #FFF;
	border-bottom: 0;
	background: right 55% no-repeat;
}

/* 2nd and 3rd level menus */ /*fondos*/
#nav ul {
	position: absolute;
	z-index: 99;
	left: -999em;
	margin: 0px 0 0 -1px;
	padding: 0;
	width: 10.9em; /*14.4em*/
	w\idth: 10.9em; /*15.9em*/
	height: auto;
	/*border:1px dashed #CC0000;*/
	border-right: 1px dashed #FFF;
	border-width: 1px 1px 1px 1px;
	background: #0099FF; /*#4BA4D1;*/ /*#F9F9F9*/
}

/* 3rd level menus only */
#nav ul ul {
	margin: -1.3em 0 0 7em;
}

/* 2nd and 3rd level menus */ /*lineas horizontales*/
#nav li li {
	padding: 2px 1em 2px 0;
	width: 10em; /*
	width:10.9em;/*14.4em
	w\idth:10.9em;15.9em*/
	border-bottom: 1px dashed #FFF;
}

/* 2nd and 3rd level menus */ /*contenidos*/
	/*bordes internos NO MODIFICAR*/
#nav ul a {
	width: 10.9em;
	w\idth: 10.9em;
	border-right: 0;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul
	{
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul
	{
	left: auto;
}

/*color apuntador sobre 1 nivel*/
#nav li:hover,#nav li.sfhover {
	border-right: 1px dashed #FFF;
	/*background: #ECECEC;*/ /*background:#6Cb6D9;*/
}

/* 2nd and 3rd level menus */ /*color apuntador sobre 2 y 3 nivel*/
#nav ul li:hover,#nav ul ul li:hover,#nav ul li.sfhover,#nav ul ul li.sfhover
	{
	background: #8FC1ED; /*#93bcd1*/
}

/* 2nd and 3rd level menus */
#nav ul li a,#nav ul ul li a {
	background: none;
}

/* 2nd level menus only */
#nav a.sub {
	background: right 52% no-repeat;
}

/*
MISC --------------------- */ /*desplazamiento izquierda*/
#container {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	background: no-repeat;
}

.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.clearfix {
	display: inline-block; /* Fixes IE/Mac */
}

.menu {
	background-image: url(/sisap/img/menu-sigep-png32.png);
	background-repeat: no-repeat;
}