@charset "utf-8";

/* CSS Document */
body {
	background-image: url(../img/bg.gif);
	margin: 0 0 0 0;
}

#menuver {
	background-image: url(../img/bg_menu32.png);
	height: 39px;
	padding-left: 15px;
	padding-top: 3px;
}

#menuver2 {
	text-align: right;
	padding-right: 15px;
}

#cemenu {
	background-image: url(../img/menu_left32_r2_c1.png);
	background-repeat: repeat-y;
}

.linkA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 15px;
}

.linkA:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC3366;
	text-decoration: underline;
	margin-left: 10px;
	margin-top: 15px;
}

.linkA2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
	margin-left: 5px;
}

.linkA2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC3366;
	text-decoration: underline;
	margin-left: 5px;
}

#tdm {
	padding-bottom: 5px;
	padding-top: 2px;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

.fecha {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	font-weight: bold;
}

#Tlogin {
	background-image: url(../img/centro_login.png);
	background-repeat: no-repeat;
}

#acceder {
	padding-top: 15px;
	padding-bottom: 0px;
}

#textLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.input {
	border: #333333 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
}

#tdcentro1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: justify;
	padding: 15px 15px 15px 15px;
}

.text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #990000;
	font-weight: bold;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	text-align: center;
}