@charset "UTF8";
.mensaje_resaltado_rojo {
    color: red;
    font-size: large;
    font-weight: bold;
}

.mensaje_resaltado {
    color: #990000;
    font-size: large;
    font-weight: bold;
}

.resaltar_dep {
    font-family: Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12pt;
    font-weight: bold;
}

.resaltar_monto_busqueda {
    font-family: Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12pt;
    font-weight: bold;
}

#resaltar {
    background-color: yellow;
    color: #000;
}

.Lista {
    height: 300px;
    overflow-y: scroll;
    border: 0;
    margin-left: 0px;
    margin-right: 0px;
    color: #000;
}

.Lista_grid_auxiliar {
    height: 450px;
    overflow: auto;
    border: 0;
    margin-left: 2px;
    margin-right: 2px;
    color: #000;
}

.Lista200 {
    height: 200px;
    overflow: auto;
    border: 0;
    margin-left: 0px;
    margin-right: 0px;
    color: #000;
    z-index: 6000;
}

.textNegro {
    color: #000;
    font-size: 10pt;
    font-family: arial, sans-serif;
    text-transform: uppercase;
}

.text_gob {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999999;
}

.text_gob_b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.titulo_top_sup {
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15pt;
    color: #f5f5f5;
    padding-left: 10px;
    font-weight: bold;
    display: none;
}

.izq {
    text-align: left;
}

.titulo_top_inf {
    text-align: left;
    font-size: 22px;
    color: #001423;
    padding-left: 10px;
    margin-top: 14px;
}

.nom_usuario {
    font-size: 10pt;
    color: #ffff00;
    font-family: arial, sans-serif;
}

#valida_codigo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #cc0000;
    background-color: #fffbec;
    text-align: center;
    white-space: normal;
    height: 40px;
    width: 98%;
    border: 1px dashed #cc0000;
    text-transform: uppercase;
    padding: 20px 20px 1px 5px;
    position: fixed;
    margin-top: -125px;
    margin-left: -7px;
}

#top {
    position: fixed;
    /*background-color:#8ebeec;*/
    height: 100px;
    top: -2px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 5000;
}

.top_izq_1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 229px;
    height: 72px;
    background-image: url(/img/top-sigep_r1_c1.png);
    background-repeat: no-repeat;
}

.top_centro_1 {
    position: absolute;
    top: 0px;
    left: 229px;
    right: 21px;
    height: 72px;
    background-image: url(/img/top-sigep_r1_c2.png);
    background-repeat: repeat-x;
}

.top_der_1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 21px;
    height: 72px;
    background-image: url(/img/top-sigep_r1_c4.png);
    background-repeat: no-repeat;
}

.top_izq_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 229px;
    height: 72px;
    background-image: url(/img/log_sigep_v1_2.png);
    background-repeat: no-repeat;
    z-index: 5;
}

.top_centro_2 {
    position: absolute;
    top: 8px;
    left: 229px;
    right: 50px;
    height: 64px;
    z-index: 2;
}

.top_der_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 51px;
    /*background-image:url(/img/bg_top_header.gif);
   background-repeat:repeat-x;*/
    z-index: 0;
    background: #dfedf5;
    background-image: -webkit-linear-gradient(top, #dfedf5, #617785);
    background-image: -moz-linear-gradient(top, #dfedf5, #617785);
    background-image: -ms-linear-gradient(top, #dfedf5, #617785);
    background-image: -o-linear-gradient(top, #dfedf5, #617785);
    background-image: linear-gradient(to bottom, #fbfbfb, #6b97bf);
    /*-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;*/
    padding: 12px 20px 10px 20px;
    text-decoration: none;
}

.menu_sisap_1 {
    position: absolute;
    top: 72px;
    left: 0px;
    right: 0px;
    height: 34px;
    background-image: url(/img/bg_menu_1.gif);
    background-repeat: repeat-x;
    z-index: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-right: 4px;
}

.menu_sisap_inactivo0 {
    visibility: hidden;
}

.menu_sisap_inactive {
    visibility: visible;
    position: absolute;
    top: 72px;
    left: 0px;
    right: 0px;
    height: 34px;
    background-image: url(/img/bg_menu_1.gif);
    background-repeat: repeat-x;
    z-index: 5000;
    padding-left: 5px;
    padding-right: 5px;
    padding-right: 4px;
    -moz-opacity: 0.65;
    opacity: 0.65;
}

#identificador_usuario {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 4px;
    height: 36px;
    z-index: 10;
    text-align: right;
    font-family: arial, sans-serif;
    font-size: 13pt;
    color: white;
    font-weight: bold;
    line-height: normal;
}

#msj_cancelar {
    position: fixed;
    top: 110px;
    right: 4px;
    width: auto;
    left: 75%;
    z-index: 60000;
    /* -moz-opacity: 0.85;
    opacity: 0.85; */
}

#msj_cancelar_textoo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #cc0000;
    background-color: #fffbec;
    text-align: center;
    white-space: normal;
    height: 40px;
    width: 98%;
    border: 1px dashed #cc0000;
    text-transform: uppercase;
    padding: 20px 20px 1px 5px;
    position: fixed;
    top: 1px;
    left: 7px;
    z-index: 7000;
}

#loading_animado {
    background-color: #8ebeec;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.95;
    opacity: 0.95;
}

#loading {
    background-color: #ffffff;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.95;
    opacity: 0.95;
}

#mini_loading {
    position: fixed;
    bottom: 37px;
    right: 2px;
    width: 85px;
    z-index: 2000;
}

#transparenciaMensaje {
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: -50px;
    margin-left: -150px;
    top: 43%;
    left: 57%;
}

#msj_aceptar {
    position: fixed;
    top: 110px;
    right: 4px;
    width: auto;
    left: 75%;
    z-index: 60000;
    /* -moz-opacity: 0.85;
    opacity: 0.85; */
}

#msj_aceptar_textoo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #339933;
    background-color: #fffbec;
    text-align: center;
    white-space: normal;
    height: 40px;
    width: 98%;
    border: 1px dashed #339966;
    text-transform: uppercase;
    padding: 20px 20px 1px 5px;
    position: fixed;
    top: 1px;
    left: 7px;
    z-index: 7000;
}

#scroll_a {
    width: 100%;
    background-color: #fff;
    height: 100px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

#scroll_b {
    width: 100%;
    height: 170px;
    background-color: #fff;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

#ds {
    width: 100%;
    background-color: #fff;
    height: 49px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

#ds2 {
    width: 100%;
    background-color: #fff;
    height: 30px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

#scroll_denominacion_cnmd03_partida {
    width: 100%;
    background-color: #fff;
    height: 40px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

/*
#denominacion2{
     width:100%;
     background-color:#FFF;
     height:70px;
     text-align:justify;
   overflow:auto;
   font-size:12px;
   text-transform:uppercase;
    color:#000;
}*/

.denominacion2 {
    width: 100%;
    background-color: #fff;
    height: 70px;
    text-align: justify;
    overflow: auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 12px;
}

#error {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffff00;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}

.ingresarText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
}

td {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 13px;
}

.fondo {
    background-image: url(/img/fieldset.gif);
    width: 788px;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.principal_fondo {
    z-index: -1;
    position: fixed;
    top: 107px;
    bottom: 36px;
    width: 100%;
}

#tabla_top_2 {
    background-image: url(/img/fondos/jpg/3.jpg);
    background-repeat: no-repeat;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.principal {
    z-index: 5;
    position: fixed;
    top: 107px;
    bottom: 36px;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}

.principal_v1 {
    z-index: 5;
    position: fixed;
    top: 110px;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
}

#water_mark {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 25%;
    bottom: 30%;
    right: 25%;
    /*border:#97ccff 3px solid;*/
    width: 640px;
    height: 204px;
}

body {
    /*margin:0 0 0 0;
	color:#000;
	font-family: arial,sans-serif;
	font-style:normal;
	overflow-y:hidden;
	font-size:18px;
	word-spacing:2px;
	letter-spacing:0px;
	background-color:#39a;*/
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    overflow-y: hidden;
    background: #5388b9 url(/img/sisap-background-modulos.png) no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.bg_tabla {
    background-image: url(../img/bg_tabla32.png);
    background-attachment: fixed;
    background-position: center 50%;
    background-repeat: repeat-y;
    margin: 0 0 0 0;
}

p {
    background-color: #ffffff;
    color: #0000ff;
    font-style: italic;
    font-size: 15px;
}

em,
legend {
    text-indent: 0px;
    color: #1a1a1a;
    font-style: italic;
    font-size: 20px;
}

strong {
    /*
	text-indent:0px;
	color:#1a1a1a;
	font-style:italic;
	font-size:25px;*/
}

#titulo {
    text-align: center;
}

.text18Tabla {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    /*color:#F5F5F5;*/
    font-family: arial, sans-serif;
}

.text14Tabla {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    font-family: arial, sans-serif;
}

.text12Tabla {
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
    font-family: arial, sans-serif;
}

#boton1,
boton2,
boton3,
boton4 {
    text-align: center;
    width: 200px;
}

.pie_pagina {
    text-indent: 5px;
    margin: 0px;
    color: #f5f5f5;
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    word-spacing: 2px;
    letter-spacing: 0px;
}

.table {
    /*width: 100%;*/
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #fff;
    /*background-image: url('/sisap/img/menu-sigep-png32.png');*/
    /*background-color: #fff;*/
    clear: both;
    padding: 0;
    margin: 0 0 2em 0;
    white-space: normal;
    font-size: 16px;
}

/*
tr th {
	background-color:transparent;
	text-align: center;
	padding:1px 4px;
	color:#000;
	font-weight:500;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	font-style:normal;
	font-size:12pt;
	font-family: arial,sans-serif;
}*/

th {
    background-color: transparent;
    text-align: center;
    padding: 1px 4px;
    color: #000;
    font-weight: 500;
    border: 1px solid #000;
    font-style: normal;
    font-size: 12pt;
    font-family: arial, sans-serif;
}

.table tr td {
    /*border-right: 1px solid #ddd;*/
    padding: 4px 4px;
    vertical-align: top;
}

.table tr.altRow td {
    background: #f4f4f4;
}

.table td.actions {
    white-space: nowrap;
}

.blur {
    background-color: #ccc;
    /*shadow color*/
    color: inherit;
    margin-left: 4px;
    margin-top: 4px;
    width: 788px;
}

.shadow,
.content {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.shadow {
    background-color: #666;
    /*shadow color*/
    color: inherit;
}

.content {
    background-color: #fff;
    /*background color of content*/
    color: #000;
    /*text color of content*/
    border: 1px solid #000;
    /*border color*/
    padding: 0.5em 2px;
}

.content IMG {
    border: 1px solid #000000;
}

.tabla {
    /*width: 100%;*/
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    clear: both;
    padding: 0;
    margin: 0 0 2em 0;
    white-space: normal;
}

/*
th {
background-color: #f5f5f5;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #003d4c;
border-bottom: 1px solid #003d4c;
text-align: center;
padding:1px 4px;
}*/

.tdtitulo {
    background-color: #e2e2e2;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #003d4c;
    border-bottom: 1px solid #003d4c;
    text-align: center;
    padding: 1px 4px;
}

tabla tr td {
    border-right: 1px solid #ddd;
    padding: 2px 2px;
    vertical-align: top;
    text-align: center;
}

tabla tr.altRow td {
    background: #f4f4f4;
}

tabla td.actions {
    white-space: nowrap;
}

.salida {
    color: #000;
    border-color: #ffffff;
}

a {
    color: #003333;
    text-decoration: none;
}

a:hover {
    color: #c64934;
    text-decoration: underline;
}

a:active {
    color: #333333;
    text-decoration: underline;
}

.pagenav {
    font-size: 10px;
}

a.pagenav {
    color: #000033;
    font-size: 10px;
    text-decoration: underline;
}

a.pagenav:hover {
    color: #fff;
    font-size: 10px;
}

a.pagenav:active {
    color: #333;
    font-size: 10px;
}

input,
select {
    text-transform: uppercase;
    margin-top: 1px;
    border: 1px solid #7f9db9;
    height: 22px;
}

textarea {
    text-transform: uppercase;
    margin-top: 1px;
    border: 1px solid #7f9db9;
}

select {
    border: 1px solid #7f9db9;
    font-size: 10pt;
    color: #000000;
    text-align: left;
    padding-left: 1px;
    width: 99%;
}

option {
    text-transform: uppercase;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 10pt;
    width: 500px;
}

.seleccion_monto option {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 10pt;
    width: 140px;
}

.lineaFoo {
    border-bottom: 1px solid #000;
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
}

.td1 {
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.td2 {
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.td3 {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.td4 {
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

.td5 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

.td2center {
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

.td3center {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

/*--------------**/

.td1top {
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.tdc1 {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
}

.tdc2 {
    border-right: #000000 1px solid;
}

.tdc3 {
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

.td5 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    text-align: center;
}

.textNegro2 {
    color: #000;
    font-size: 9pt;
    font-family: arial, sans-serif;
    text-transform: uppercase;
}

.campoText {
    width: 99%;
    padding-left: 3px;
    border: 1px solid #7f9db9;
}

.select100 {
    width: 99%;
    padding-left: 3px;
    border: 1px solid #7f9db9;
}

.textarea100 {
    width: 99%;
    padding-left: 3px;
    border: 1px solid #7f9db9;
}

.tablacompromiso td {
    border-top: 0px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 0px solid #003d4c;
    height: 27px;
    padding-left: 3px;
    padding-right: 1px;
    border-spacing: 0px;
    empty-cells: show;
    font-family: arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.tablacompromiso2 {
    border-top: 1px solid #000000;
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

.tablacompromiso3 {
    border-right: 1px solid #003d4c;
    border-spacing: 0px;
    empty-cells: show;
}

.tablacompromiso th {
    border-top: 0px solid #000000;
    border-right: 0px solid #003d4c;
}

.inputtext {
    width: 99%;
    padding-left: 2px;
    border: 0;
    border: 1px solid #7f9db9;
}

.inputtext80 {
    width: 85%;
    padding-left: 2px;
    border: 0;
    border: 1px solid #7f9db9;
}

.linksTooltip {
    border: 3px solid #933;
    background-color: #600;
    padding: 10px;
    color: #ccc;
}

.inputsTooltip {
    border: 1px solid #000;
    background-color: #444;
    padding: 4px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 150px;
}

.inputsTooltip #tooltipTitle {
    font-weight: bold;
}

/* Seccion que utiliza los mensajes*/

.tabla_msj {
    background-color: #800000;
    /*background-image:url(/img/centro_login.png);*/
}

.th_msj {
    background-color: #550000;
    /*background-image:url(/img/bgcabeceragrid.gif);*/
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

.td_msj {
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.td_fecha {
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 10px;
    height: 27px;
}

.simple_window {
    width: 250px;
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    text-align: left;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #333;
}

#c_usuarios {
    position: fixed;
    margin: 0;
    padding: 1px 0;
    right: 120px;
    bottom: 37px;
    z-index: 1000;
    width: 150px;
    height: 100px;
    background-color: #800000;
    overflow-y: auto;
    font-family: arial, sans-serif;
}

.a_msj {
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

.a_msj:hover {
    color: #f1f1f1;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 27px;
    padding-left: 5px;
    font-weight: bold;
}

#MenuAplicacion {
    margin-left: 10px;
}

label {
    color: #000;
    text-transform: lowercase;
}

label:first-letter {
    text-transform: capitalize;
}

.tr_negro {
    color: #fff;
    background-color: #27637b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: normal;
    white-space: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.div_fecha {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    width: 100px;
}

.P_0 {
    padding: 0 0 0 0;
}

.link_paginacion {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #277884;
    color: #277884;
    font-family: arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.link_paginacion:hover {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #841a08;
    background-color: #841a08;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.link_paginacion_activo {
    margin: 3px 3px 3px 3px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    border: 1px solid #841a08;
    background-color: #841a08;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.tr_grid_c1 {
    background-color: #cdf2ff;
    color: #000;
    font-size: 9pt;
    font-family: arial, sans-serif;
    text-transform: uppercase;
}

.tr_grid_c2 {
    background-color: #daebff;
    color: #000;
    font-size: 9pt;
    font-family: arial, sans-serif;
    text-transform: uppercase;
}

/*
input:focus,textarea:focus {
	background-color: #e9efff;
	border:1px #820a2e solid;
}*/

.input_fecha {
    background: #ffffff url(/img/calendar.gif) no-repeat scroll center right;
    padding: 1px 1px 0px 0px;
    border: 1px solid #7f9db9;
    height: 20px;
    width: 105px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
}

.input_lupa {
    background: #ffffff url(/img/iconos_nav/buscar18.png) no-repeat scroll center right;
    padding: 1px 1px 0px 0px;
    border: 1px solid #7f9db9;
    height: 22px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
}

.div_input_lupa {
    background: #ffffff url(/img/iconos_nav/buscar18.png) no-repeat scroll center right;
    padding: 1px 20px 0px 0px;
    border: 1px solid #7f9db9;
    height: 22px;
    text-align: left;
    text-decoration: overline;
}

.input_sin_bordes {
    background: #ffffff;
    padding: 1px 1px 0px 0px;
    border: 0px;
    height: 22px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 10pt;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.fila1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: uppercase;
    background-color: #f8fbfc;
}

.fila2 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: uppercase;
    background-color: #e5f1f4;
}

.tabla_log_sql td {
    border-top: 0px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 0px solid #003d4c;
    height: 27px;
    padding-left: 3px;
    padding-right: 1px;
    border-spacing: 0px;
    empty-cells: show;
    font-family: arial, sans-serif;
    font-size: 10px;
    text-transform: none !important;
}

.log_sql_fila1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: none !important;
    background-color: #f8fbfc;
}

.log_sql_fila2 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    color: #000;
    white-space: normal;
    text-transform: none !important;
    background-color: #e5f1f4;
}

#capa_programas_resringidos {
    width: 500px;
    height: 200px;
    background-image: url(/img/fondo_capa_claves.png);
    background-repeat: no-repeat;
}

.input_user_prog_restric {
    background: #ffffff url(/img/input_user.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 2px solid #7f9db9;
    color: #990000;
    height: 25px;
    width: 165px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.input_pass_prog_restric {
    background: #ffffff url(/img/input_pass.png) no-repeat scroll center left;
    padding: 2px 1px 0px 18px;
    border: 2px solid #7f9db9;
    color: #990000;
    height: 25px;
    width: 165px;
    font-family: "trebuchet MS", sans-serif;
    font-size: 8pt;
}
