#box1
{
	/* -webkit-border-radius: 0px;-moz-border-radius: 0px;-moz-box-shadow:0 0 10px #ff0000 inset;-webkit-box-shadow:0 0 7px #87cefa;box-shadow:0 0 5px #87cefa inset; */
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: italic;
			line-height: normal;
			font-weight: bold;
			color:#FFFFFF;
			background-color: #800000;
			text-align: center;
			white-space: normal;
			width:88%;
			height:110px;
            position:relative;
		/*	height: 40px;
			width: 98%;
			border: 1px dashed #CC0000;
			padding:20px 20px 1px 5px; */
  			border:1px solid #333;
  			margin-top:-5px;
            text-transform:uppercase;
			padding:5px;
            box-shadow:1px 1px 5px black;
            text-shadow: 1px 1px 1px #000000;
            top:0px;
            padding-top:20px;
			float:left;
			z-index:1;
}
#box2
{
	/* -webkit-border-radius: 0px;-moz-border-radius: 0px;-moz-box-shadow:0 0 10px #ff0000 inset;-webkit-box-shadow:0 0 7px #87cefa;box-shadow:0 0 5px #87cefa inset; */
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: italic;
			line-height: normal;
			font-weight: bold;
			color:#FFFFFF;
			background-color: #008000;
			text-align: center;
			white-space: normal;
			width:88%;
			height:110px;
            position:relative;
		/*	height: 40px;
			width: 98%;
			border: 1px dashed #CC0000;
			padding:20px 20px 1px 5px; */
  			border:1px solid #333;
  			margin-top:-5px;
            text-transform:uppercase;
			padding:5px;
            box-shadow:1px 1px 5px black;
            text-shadow: 1px 1px 1px #000000;
            top:0px;
            padding-top:20px;
			float:left;
			z-index:1;
}
#box
{
	position:relative;
	cursor:move;
	background:#003d4c;
	border:1px solid #333;
    color:#990000;
    font-size:18px;
	width:88%;
	height:25px;
	padding:5px;
    float:left;
    text-align: left;
    color: white;
	top:0px;
    box-shadow:1px 1px 5px black;
    text-shadow: 1px 1px 1px blue;
	-moz-opacity: 0.85;
    opacity: 0.85;
	z-index:1;
}
#box_acept
{
	position:relative;
	cursor:move;
	background:#003d4c;
	border:1px solid #333;
    color:#990000;
    font-size:18px;
	width:88%;
	height:25px;
	padding:5px;
    float:left;
    text-align: left;
    color: white;
	top:0px;
    box-shadow:1px 1px 5px black;
    text-shadow: 1px 1px 1px blue;
	-moz-opacity: 0.85;
    opacity: 0.85;
	z-index:1;
}
#cancel
{
    background: url("/img/cerrar_venta.png") no-repeat scroll 0 0 green;
    border: 1px solid green;
    float: right;
    height: 15px;
    padding: 8px;
    position: relative;
    width: 15px;
    cursor: pointer;
    display:block;
    #height: 20px;
    #width: 20px;

}

.buttonRed {
    background-color: #E32528;
    border: 0 none;
    border-radius: 0 5px 0 5px;
    box-shadow: 1px 1px 2px black;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;

}
