.overlay_Vista_Basic {
	background-color: #FFF;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.Vista_Basic_wired_frame {
	background: #FFF;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.Vista_Basic_nw {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/top-left.png) no-repeat 0 0;
	width: 9px;
	height: 28px;
}

.Vista_Basic_n {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/top-middle.png) repeat-x 0 0;
	height: 28px;
}

.Vista_Basic_ne {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/top-right.png) no-repeat 0 0;
	width: 15px;
	height: 28px;
}

.Vista_Basic_w {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/left.png) repeat-y top left;
	width: 9px;
}

.Vista_Basic_e {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/right.png) repeat-y top right
		;
	width: 15px;
}

.Vista_Basic_sw {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/bottom-left.png) no-repeat 0
		0;
	width: 9px;
	height: 15px;
}

.Vista_Basic_s {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/bottom-middle.png) repeat-x 0
		0;
	height: 15px;
}

.Vista_Basic_se,.Vista_Basic_sizer {
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/bottom-right.png) no-repeat 0
		0;
	width: 15px;
	height: 15px;
}

.Vista_Basic_sizer {
	cursor: se-resize;
}

.Vista_Basic_close {
	width: 15px;
	height: 9px;
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/button-close.png) no-repeat 0
		0;
	position: absolute;
	top: 11px;
	right: 10px;
	cursor: pointer;
	z-index: 1000;
}

.Vista_Basic_maximize {
	width: 15px;
	height: 9px;
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/button-max.png) no-repeat 0 0
		;
	position: absolute;
	top: 11px;
	right: 25px;
	cursor: pointer;
	z-index: 1000;
}

.Vista_Basic_minimize {
	width: 15px;
	height: 9px;
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/button-min.png) no-repeat 0 0
		;
	position: absolute;
	top: 11px;
	right: 40px;
	cursor: pointer;
	z-index: 1000;
}

.Vista_Basic_title {
	float: left;
	height: 14px;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	margin-top: 2px;
	width: 100%;
	color: #17385B;
}

.Vista_Basic_content {
	overflow: auto;
	color: #000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #BFDBFF;
}

/* For alert/confirm dialog */
.Vista_Basic_window {
	border: 1px solid #F00;
	background: #FFF;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.Vista_Basic_message {
	font-size: 12px;
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
}

.Vista_Basic_buttons {
	text-align: center;
	width: 100%;
}

.Vista_Basic_buttons input {
	border: 1px solid #999;
	border-top-color: #CCC;
	border-left-color: #CCC;
	padding: 2px;
	background-color: #FFF;
	color: #333;
	background-image:
		url(/images/estilos_ventanas/Vista_Basic/background_buttons.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.Vista_Basic_progress {
	float: left;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 16px;
	background: transparent
		url(/images/estilos_ventanas/Vista_Basic/spinner.gif) no-repeat center
		center;
}

/* FOR IE */
* html .Vista_Basic_nw {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/top-left.png", sizingMethod =
		"crop");
}

* html .Vista_Basic_n {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/top-middle.png", sizingMethod =
		"scale");
}

* html .Vista_Basic_ne {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/top-right.png", sizingMethod =
		"crop");
}

* html .Vista_Basic_w {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft .
		AlphaImageLoader(src = "/images/estilos_ventanas/Vista_Basic/left.png",
		sizingMethod = "scale");
}

* html .Vista_Basic_e {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft .
		AlphaImageLoader(src = "/images/estilos_ventanas/Vista_Basic/right.png",
		sizingMethod = "scale");
}

* html .Vista_Basic_sw {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/bottom-left.png", sizingMethod =
		"crop");
}

* html .Vista_Basic_s {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/bottom-middle.png", sizingMethod
		= "scale");
}

* html .Vista_Basic_se,* html .Vista_Basic_sizer {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/bottom-right.png", sizingMethod
		= "crop");
}

* html .Vista_Basic_close {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/button-close.png", sizingMethod
		= "crop");
}

* html .Vista_Basic_minimize {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/button-min.png", sizingMethod =
		"crop");
}

* html .Vista_Basic_maximize {
	background-color: transparent;
	background-image: none;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		"/images/estilos_ventanas/Vista_Basic/button-max.png", sizingMethod =
		"crop");
}

* html .Vista_Basic_content {
	background: #B8D7FF;
}