.login {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	padding: 15px;
	border: 1px solid #cccccc;
	width: 460px;
	background: #F1F3F5;
}

.login-seguridad {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	padding: 15px;
	border: 1px solid #cccccc;
	width: 540px;
	background: #F1F3F5;
}

.login-form {
	text-align: left;
	float: right;
	width: 60%;
}

.form-block {
	border: 1px solid #cccccc;
	background: #E9ECEF;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.inputlabel {
	font-weight: bold;
	text-align: left;
}

.login-text {
	text-align: left;
	width: 40%;
	float: left;
}

.ctr {
	text-align: center;
}

.clr {
	clear: both;
}

.button2 {
	border: solid 1px #cccccc;
	background: #E9ECEF;
	color: #666666;
	font-weight: bold;
	font-size: 11px;
	padding: 4px;
}

.inputbox2 {
	width: 150px;
	margin: 0 0 1em 0;
	border: 1px solid #cccccc;
}