#top {
    position: fixed;
    /*background-color:#8ebeec;*/
    height: 100px;
    top: -2px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 5000;
}
.top_izq_1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 229;
    height: 72;
    background-image: url(/img/top-sigep_r1_c1.png);
    background-repeat: no-repeat;
}
.top_centro_1 {
    position: absolute;
    top: 0px;
    left: 229px;
    right: 21px;
    height: 72;
    background-image: url(/img/top-sigep_r1_c2.png);
    background-repeat: repeat-x;
}
.top_der_1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 21;
    height: 72;
    background-image: url(/img/top-sigep_r1_c4.png);
    background-repeat: no-repeat;
}

.top_izq_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 229;
    height: 72;
    background-image: url(/img/log_sigep_v1_2.png);
    background-repeat: no-repeat;
    z-index: 5;
}
.top_centro_2 {
    position: absolute;
    top: 8px;
    left: 229px;
    right: 50px;
    height: 64;
    z-index: 2;
}
.top_der_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 72;
    background-image: url(/img/bg_top_header.gif);
    background-repeat: repeat-x;
    z-index: 0;
}

.titulo_top_sup {
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15pt;
    color: #f5f5f5;
    padding-left: 10px;
    font-weight: bold;
}
.izq {
    text-align: left;
}
.titulo_top_inf {
    text-align: left;
    font-size: 12pt;
    color: #fff; /*#E5E5E5;*/
    padding-left: 10px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

#margenes {
    border: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#fondo {
    background-color: #fff;
    background-position: right top;
    border-bottom: 4px solid #c64934;
    background: url(../../img/logo_fondo.png);
}

#logo {
    position: relative;
    width: 100%;
    background: url(../../img/logo_version.png) no-repeat;
    background-position: bottom right;
    margin: 0px;
    padding: 0px;
}

#wrapper1 div {
    border: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px 0px 5px;
    display: inline;
}

body {
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #003333;
    text-decoration: none;
}
a:hover {
    color: #c64934;
    text-decoration: underline;
}
a:active {
    color: #333333;
    text-decoration: underline;
}

table#toolbar a.toolbar {
    color: #000033;
    text-decoration: none;
    display: block;
    border: 1px solid #ddd;
    width: 55px;
    padding: 2px 1px 2px 1px;
}
table#toolbar a.toolbar:hover {
    color: #c64934;
    border: 1px solid #c24733;
    background-color: #f1e8e6;
    padding: 3px 0px 1px 2px;
}
table#toolbar a.toolbar:active {
    color: #ff9900;
}

.pagenav {
    font-size: 10px;
}
a.pagenav {
    color: #000033;
    font-size: 10px;
    text-decoration: underline;
}
a.pagenav:hover {
    color: #fff;
    font-size: 10px;
}
a.pagenav:active {
    color: #333;
    font-size: 10px;
}

.sectionname {
    color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.button {
    border-top: solid 1px #d5d5d5;
    border-right: solid 1px #808080;
    border-bottom: solid 1px #808080;
    border-left: solid 1px #d5d5d5;
    color: #333;
    font-weight: bold;
}

.inputbox {
    z-index: -3;
    font-size: 11px;
}

.text_area {
    border: 1px solid ccc;
    z-index: -3;
    font-size: 11px;
}

TEXTAREA,
SELECT {
    z-index: -3;
    font-size: 11px;
}

.small {
    color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
}
.smallgrey {
    color: #999;
    font-size: 10px;
}
.error {
    color: #c40000;
    font-size: 11px;
    font-weight: bold;
}

.contentheading,
.componentheading,
.moduleheading {
    font-size: 14px;
    font-weight: bold;
}

table.menubar {
    width: 100%;
    margin-top: 70;
}

table.menubar2 {
    width: 100%;
}

td {
    font-size: 11px;
}

#msj_cancelar {
    position: fixed;
    top: 110px;
    right: 4px;
    width: auto;
    left: 75%;
    z-index: 60000;
    /* -moz-opacity: 0.85;
    opacity: 0.85; */
}

#msj_cancelar_textoo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #cc0000;
    background-color: #fffbec;
    text-align: center;
    white-space: normal;
    height: 40px;
    width: 98%;
    border: 1px dashed #cc0000;
    text-transform: uppercase;
    padding: 20px 20px 1px 5px;
    position: fixed;
    top: 1px;
    left: 7px;
    z-index: 7000;
}

#loading_animado {
    background-color: #8ebeec;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    filter: alpha(opacity= "95");
}

#loading {
    background-color: #ffffff;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    filter: alpha(opacity= "95");
}
#mini_loading {
    position: fixed;
    bottom: 37px;
    right: 2px;
    width: 85px;
    z-index: 2000;
}
#transparenciaMensaje {
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: -50px;
    margin-left: -150px;
    top: 43%;
    left: 57%;
}

#msj_aceptar {
    position: fixed;
    top: 110px;
    right: 4px;
    width: auto;
    left: 75%;
    z-index: 60000;
    /* -moz-opacity: 0.85;
    opacity: 0.85; */
}

#msj_aceptar_textoo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #339933;
    background-color: #fffbec;
    text-align: center;
    white-space: normal;
    height: 40px;
    width: 98%;
    border: 1px dashed #339966;
    text-transform: uppercase;
    padding: 20px 20px 1px 5px;
    position: fixed;
    top: 1px;
    left: 7px;
    z-index: 7000;
}

/* header block */
table.adminheading {
    background-color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    border-collapse: collapse;
    color: #000033;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

table.adminheading th {
    text-align: left;
    height: 50px;
    width: 99%;
    border-bottom: 5px solid #fff;
}

.reloj {
    font-size: 18px;
    font-weight: bold;
    color: #000033;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: right;
}

table.adminheading td {
    color: #000;
}

table.adminlist {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
}

table.adminlist th {
    margin: 0px;
    padding: 6px 4px 2px 4px;
    height: 25px;
    background: url(../../img/background.jpg);
    background-repeat: repeat;
    font-size: 11px;
    color: #000;
}

table.adminlist th.title {
    text-align: left;
}

.a_usado_script {
    text-decoration: underline;
    color: #000033;
    background-color: yellow;
    border: 1px solid #c24733;
    padding: 3px 4px 0px 6px;
}

table.adminlist th a:link,
table.adminlist th a:visited {
    color: #000033;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

table.adminlist th a:hover {
    color: #c64934;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

table.adminlist tr.row0 {
    background-color: #f9f9f9;
}
table.adminlist tr.row1 {
    background-color: #fff;
}
table.adminlist td {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
}
table.adminlist tr.row0:hover {
    background-color: #f1f1f1;
}
table.adminlist tr.row1:hover {
    background-color: #f1f1f1;
}
table.adminlist td.options {
    background-color: #ffffff;
    font-size: 8px;
}
select.options,
input.options {
    font-size: 8px;
    font-weight: normal;
    border: 1px solid #999999;
}

table.adminform {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}
table.adminform tr.row0 {
    background-color: #f9f9f9;
}
table.adminform tr.row1 {
    background-color: #eeeeee;
}
table.adminform th {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    height: 25px;
    background: url(../../img/background.jpg);
    color: #000;
    background-repeat: repeat;
}
table.adminform td {
    padding: 3px;
    text-align: left;
}
table.adminform td.editor {
    font-size: 9px;
}

table.adminform2 {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 45%;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: 25px;
}
table.adminform2 tr.row0 {
    background-color: #f9f9f9;
}
table.adminform2 tr.row1 {
    background-color: #eeeeee;
}
table.adminform2 th {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    height: 25px;
    background: url(../../img/background.jpg);
    color: #000;
    background-repeat: repeat;
}
table.adminform2 td {
    padding: 3px;
    text-align: left;
}
table.adminform2 td.editor {
    font-size: 9px;
}

table.cpanel td {
    text-align: center;
}

form {
    margin: 0px 0px 0px 0px;
}
/* Styles for dhtml tabbed-pages */
.ontab {
    font-size: 12px;
    background-color: #ffae00;
    border: 1px solid #cccccc;
    width: 14%;
    text-align: center;
    cursor: hand;
    font-weight: bold;
    color: #ffffff;
}
.offtab {
    font-size: 12px;
    background-color: #e5e5e5;
    border: 1px solid #cccccc;
    width: 14%;
    text-align: center;
    cursor: hand;
    font-weight: normal;
}
.tabpadding {
    /*border-bottom: solid 1px #D5D5D5;*/
}
.tabheading {
    background-color: #ffae00;
    color: #fff;
    font-size: 10px;
    text-align: left;
}
.pagetext {
    visibility: hidden;
    display: none;
    position: relative;
    top: 0;
}
.menubackgr {
    background: #e8e8e8;
    border-bottom: 1px solid #cccccc;
}
.menudottedline {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    background-color: #f1f3f5;
}
.pathway {
    margin-left: 15px;
}
.adminheader {
    color: #c30;
    font-size: 24px;
}
/* Text passed with mosmsg url parameter */
.message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #c30;
    text-align: center;
}

div.centermain {
    padding: 0 10px;
}

div.main {
    width: 99%;
    padding: 0;
}
.quote {
    margin: 4px;
    border: 1px solid #cccccc;
    background-color: #e9ecef;
    padding: 10px;
    font-size: 12px;
    color: #254d78;
}

/* mod_quickicon */

#cpanel {
    text-align: center;
    vertical-align: middle;
}

#cpanel div.icon {
    margin: 3px;
    text-align: center;
}
#cpanel div.icon a {
    display: block;
    float: left;
    height: 97px !important;
    height: 100px;
    width: 108px !important;
    width: 110px;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link {
    color: #000033;
}
#cpanel div.icon a:hover {
    color: #333;
    background-color: #f1e8e6;
    border: 1px solid #c24733;
    padding: 3px 4px 0px 6px;
}
#cpanel div.icon a:active {
    color: #000033;
}
#cpanel div.icon a:visited {
    color: #000033;
}

#cpanel div.icon img {
    list-style-image: inherit;
    margin-top: 13px;
}
#cpanel div.icon span {
    display: block;
    padding-top: 3px;
    text-align: center;
}

/* Tooltips */
a.tooltip,
a.tooltip:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

a.tooltiplink {
    display: block;
    width: 100%;
}
a.tooltiplink:hover {
    text-decoration: none;
}

/* Fieldsets */
fieldset {
    margin-bottom: 10px;
    border: 1px #ccc solid;
    padding: 5px;
    text-align: left;
}

fieldset p {
    margin: 10px 0px;
}

legend {
    color: #c24733;
    font-size: 1.1em;
    font-weight: bold;
}

/* Two Pane Formatting */
#treecell {
    width: 20%;
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}

.expander {
    float: right;
}

#datacell {
    width: 78%;
    display: block;
    float: left;
    margin: 0;
    padding: 2px 0px 0px 0px;
}

#datacellfull {
    width: 98%;
    display: block;
    float: left;
    margin: 0;
    padding: 2px;
}

#treecell fieldset {
}
#datacell fieldset {
    border: 1px #ccc solid;
}

span.editlinktip {
    text-decoration: none;
    border-bottom: 1px dashed #aaa;
}

table.paramlist td {
    height: 30px;
}

.boton_agenda {
    text-align: center;
    border-right: #1c5425 1px solid;
    border-top: #1c5425 1px solid;
    font-weight: bold;
    font-size: 11px;
    background: url(../../img/button.gif) #a4e1ae repeat-x 0px 0px;
    border-left: #1c5425 1px solid;
    width: 80px;
    color: #ffffff;
    border-bottom: #1c5425 1px solid;
    height: 20px;
}

.tabla {
    margin-top: 8%;
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
}
